.gridContainer {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 10px;
}
.gridItem {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.cardImg{
  width: 100px;
  height: 100px;
}
